@{
    ViewBag.Title = "CMS";
    Layout = "~/Views/Shared/_OuterLayout.cshtml";
}


<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from themegeniuslab.com/html/aequity/index-3.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 22 Aug 2021 07:43:29 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="irstheme">

    <title> Absol Case </title>
    <link rel=" shortcut icon" href="~/images/favicon.png" />
    <link href="~/assets/css/themify-icons.css" rel="stylesheet" />
    <link href="~/assets/css/flaticon.css" rel="stylesheet" />
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/css/animate.css" rel="stylesheet" />
    <link href="~/assets/css/owl.carousel.css" rel="stylesheet" />
    <link href="~/assets/css/owl.theme.css" rel="stylesheet" />
    <link href="~/assets/css/slick.css" rel="stylesheet" />
    <link href="~/assets/css/slick-theme.css" rel="stylesheet" />
    <link href="~/assets/css/owl.transitions.css" rel="stylesheet" />
    <link href="~/assets/css/jquery.fancybox.css" rel="stylesheet" />
    <link href="~/assets/css/style.css" rel="stylesheet" />




</head>


<body>
    <!-- start page-wrapper -->
    <div class="page-wrapper">

        <!-- start of hero -->
        <section class="hero hero-slider-wrapper hero-style-3">
            <div class="hero-slider">
                <div class="slide">
                    <img src="~/assets/images/slider/slide-2.jpg" alt class="slider-bg">
                    <div class="container">
                        <div class="row">
                            <div class="col col-lg-6 col-md-6 col-sm-8 slide-caption">
                                <div class="slide-subtitle">
                                    <p>Welcome to us...</p>
                                </div>
                                <div class="slide-title">
                                    <h2>#1 rated cloud-based law practice management software</h2>
                                </div>
                                <div class="btns">
                                    <a href="@Url.Action("Index","Subscription",new{@area="Public"})" class="theme-btn-s2">Click To Start</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="slide">
                    <img src="~/assets/images/slider/slide-1.jpg" alt class="slider-bg">
                    <div class="container">
                        <div class="row">
                            <div class="col col-lg-6 col-md-6 col-sm-8 slide-caption">
                                <div class="slide-subtitle">
                                    <p>Welcome to us...</p>
                                </div>
                                <div class="slide-title">
                                    <h2>A complete case management solution</h2>
                                </div>
                                <div class="btns">
                                    <a href="#" class="theme-btn-s2">Click To Start</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="slide">
                    <img src="assets/images/slider/slide-3.jpg" alt class="slider-bg">
                    <div class="container">
                        <div class="row">
                            <div class="col col-lg-6 col-md-6 col-sm-8 slide-caption">
                                <div class="slide-subtitle">
                                    <p>Welcome to us...</p>
                                </div>
                                <div class="slide-title">
                                    <h2>Trusted by thousands of law firms</h2>
                                </div>
                                <div class="btns">
                                    <a href="#" class="theme-btn-s2">Click To Start</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end of hero slider -->
        <!-- start cta-section -->
        <section class="cta-section">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="content clearfix">
                            <div class="intro-text">
                                <span>We make Your Case Easy</span>
                                <h3>We are a International Law Group, Provide Quality Service for Customer</h3>
                            </div>
                            <div class="details">
                                <p>He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end container -->
        </section>
        <!-- end cta-section -->
        <!-- start about-section -->
        <section class="about-section">
            <div class="content-area clearfix">
                <div class="left-col">
                    <div class="about-text">
                        <span>Welcome To Our Industry</span>
                        <h3>We Have 25 Years of Experience in this are, so you Can Espect From Us Better Services</h3>
                        <p>Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with</p>
                        <a href="#" class="theme-btn-s2">Explore More</a>
                    </div>
                </div>
                <div class="right-col">
                    <div class="video-area">
                        <div class="video-holder">
                            <!-- <img src="assets/images/about-video.jpg" alt> -->
                            <a href="https://www.youtube.com/embed/7e90gBu4pas?autoplay=1" class="video-btn" data-type="iframe" tabindex="0">
                                <i class="fi flaticon-video-player"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div> <!-- end content-area -->
        </section>
        <!-- end about-section -->
        <!-- start service-section -->
        <section class="service-section section-padding">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="section-title">
                            <span>Law Services</span>
                            <h2>Practice Areas</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="service-grids clearfix">
                            <div class="grid">
                                <div class="icon">
                                    <i class="fi flaticon-jail"></i>
                                </div>
                                <h3><a href="#">Criminal Law</a></h3>
                                <p>He lay on his armour-like back, and if he lifted his head a little could see his brown belly facets inhreit</p>
                            </div>
                            <div class="grid">
                                <div class="icon">
                                    <i class="fi flaticon-couple"></i>
                                </div>
                                <h3><a href="#">Family Law</a></h3>
                                <p>He lay on his armour-like back, and if he lifted his head a little could see his brown belly facets inhreit</p>
                            </div>
                            <div class="grid">
                                <div class="icon">
                                    <i class="fi flaticon-wounded"></i>
                                </div>
                                <h3><a href="#">Travel Accident</a></h3>
                                <p>He lay on his armour-like back, and if he lifted his head a little could see his brown belly facets inhreit</p>
                            </div>
                            <div class="grid">
                                <div class="icon">
                                    <i class="fi flaticon-robber-1"></i>
                                </div>
                                <h3><a href="#">Identity Theft</a></h3>
                                <p>He lay on his armour-like back, and if he lifted his head a little could see his brown belly facets inhreit</p>
                            </div>
                            <div class="grid">
                                <div class="icon">
                                    <i class="fi flaticon-laptop"></i>
                                </div>
                                <h3><a href="#">Legal Advice</a></h3>
                                <p>He lay on his armour-like back, and if he lifted his head a little could see his brown belly facets inhreit</p>
                            </div>
                            <div class="grid">
                                <div class="icon">
                                    <i class="fi flaticon-balance"></i>
                                </div>
                                <h3><a href="#">Personal Injury</a></h3>
                                <p>He lay on his armour-like back, and if he lifted his head a little could see his brown belly facets inhreit</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- end container -->
        </section>
        <!-- end service-section -->
        <!-- start testimonials-contact-section -->
        @*<section class="testimonials-contact-section section-padding">
            <div class="container">
                <div class="row contact-row">
                    <div class="separator"></div>
                    <div class="col col-md-6">
                        <div class="contact-area">
                            <h3>Are you interest to contact with us?</h3>
                            <p>Raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather. </p>
                            <ul>
                                <li>
                                    <div class="icon">
                                        <i class="ti-mobile"></i>
                                    </div>
                                    <span>Our Phone:</span> 54562364769744, 8562364769744
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="ti-email"></i>
                                    </div>
                                    <span>Email Address:</span> demo@example.com,  example@demo.com
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="ti-time"></i>
                                    </div>
                                    <span>Office hour:</span> 9AM - 5PM
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col col-md-6">
                        <div class="contact-form">
                            <form>
                                <div>
                                    <input type="text" class="form-control" placeholder="Name*">
                                </div>
                                <div>
                                    <input type="email" class="form-control" placeholder="Email*">
                                </div>
                                <div>
                                    <input type="text" class="form-control" placeholder="Phone*">
                                </div>
                                <div>
                                    <input type="text" class="form-control" placeholder="Address*">
                                </div>
                                <div class="comment-area">
                                    <textarea placeholder="Comment*"></textarea>
                                </div>
                                <div class="submit-area">
                                    <a href="#" class="theme-btn-s2">Submit Now</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@
        <!-- end testimonials-contact-section -->
        <!-- start cta-s2-section -->
        <section class="cta-s2-section section-padding">
            <div class="container">
                <div class="row">
                    <div class="col col-md-6 col-sm-8">
                        <div class="text">
                            <h3>We try to Help our Every Single Client.</h3>
                            <p>Who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window</p>
                            <a href="@Url.Action("ContactUs","Home",new{@area="Public"})" class="theme-btn-s2">Contact us</a>
                        </div>
                    </div>
                </div>
            </div> <!-- end container -->
        </section>
        <!-- end cta-s2-section -->
        <!-- start partners-section -->
        <section class="partners-section">
            <h2 class="hidden">Partners</h2>
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="partner-grids partners-slider">
                            <div class="grid">
                                <img src="~/assets/images/partners/img-1.png" alt>
                            </div>
                            <div class="grid">
                                <img src="~/assets/images/partners/img-2.png" alt>
                            </div>
                            <div class="grid">
                                <img src="~/assets/images/partners/img-3.png" alt>
                            </div>
                            <div class="grid">
                                <img src="~/assets/images/partners/img-4.png" alt>
                            </div>
                            <div class="grid">
                                <img src="~/assets/images/partners/img-5.png" alt>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- end container -->
        </section>
        <!-- end partners-section -->

    </div>
    <!-- end of page-wrapper -->
    <!-- All JavaScript files
    ================================================== -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery-plugin-collection.js"></script>
    <script src="~/assets/js/script.js"></script>

    <script>
        $(document).ready(function () {
            $('.Homeclass').addClass('active');


        });



    </script>
</body>

<!-- Mirrored from themegeniuslab.com/html/aequity/index-3.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 22 Aug 2021 07:43:29 GMT -->
</html>
