@model List<AbsolCase.Models.ClientTransactionViewModel>
<!DOCTYPE html>
@{
    Layout = null;
    int total = 0;
    string clientName = "";
    if (Model != null && Model.Count > 0)
    {
        total = Model.Select(x => int.Parse(x.Amount)).ToList().Sum();
        clientName = Model.FirstOrDefault().ClientName;
    }
}
<html lang="en">
<head>
    <link href="~/Logo/style.css" rel="stylesheet" />
    <style type="text/css">
        /* Chart.js */
        @@keyframes chartjs-render-animation {
            from {
                opacity: .99
            }

            to {
                opacity: 1
            }
        }

        .chartjs-render-monitor {
            animation: chartjs-render-animation 1ms
        }

        .chartjs-size-monitor, .chartjs-size-monitor-expand, .chartjs-size-monitor-shrink {
            position: absolute;
            direction: ltr;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            overflow: hidden;
            pointer-events: none;
            visibility: hidden;
            z-index: -1
        }

            .chartjs-size-monitor-expand > div {
                position: absolute;
                width: 1000000px;
                height: 1000000px;
                left: 0;
                top: 0
            }

            .chartjs-size-monitor-shrink > div {
                position: absolute;
                width: 200%;
                height: 200%;
                left: 0;
                top: 0
            }

        hr {
            border: none;
            border-top: 3px dashed gray;
            color: gray;
            background-color: #fff;
            height: 1px;
            width: 100%;
        }

        table {
            background-color: white !important
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <td style="text-align:start;background-color:white">
                <h4 style="color: black; text-align: initial"><strong>Law Office of Lydia Charles, LLC</strong></h4>
                <h4 style="text-align: initial">5660 Corporate Way</h4>
                <h4 style="text-align: initial">
                    West Palm Beach, Florida 33407
                </h4>
                <h4 style="text-align: initial">United States</h4>
                <h4 style="text-align: initial">
                    561-777-4545
                </h4>
            </td>
            <td style="background-color: white">
                <img src="~/Logo/Law-Office-of-Lydia-Charles.png" style="width: 330px;" />
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td style="background-color: white">
                <h4 style="color: black; text-align: initial"><strong>@clientName</strong></h4>
                <h4 style="text-align:initial">1305 Rosewood Villa Lane Apt 11</h4>
                <h4 style="text-align:initial">
                    West Palm beach, FL 33417
                </h4>
                <h4 style="text-align:initial">United States</h4>
            </td>
            <td style="background-color: white">
                <h4 style="color: black; text-align:center">
                    <strong>
                        Balance
                    </strong> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$0.00
                </h4>
                <h4 style="color: black; text-align:center">
                    <strong>
                        Invoice #
                    </strong> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;00165
                </h4>
                <h4 style="color: black; text-align:center">
                    <strong>
                        Invoice Date
                    </strong> &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;October 21, 2019
                </h4>
                <h4 style="color: black; text-align:center">
                    <strong>
                        Payment Terms
                    </strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Due on Receipt
                </h4>
                <h4 style="color: black; text-align:center">
                    <strong>
                        Due Date
                    </strong> &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; See Payment Plan
                </h4>
            </td>
        </tr>
    </table>
    <hr style="margin-top:30px" />
    <h4 style="color: black"><strong>Fleurelus, Normil vs. Octelus, Michena</strong></h4>
    <br />
    <h4>
        <strong>
            Flat Fees
        </strong>
    </h4>
    <table style="width: 100%; line-height:15px; border: solid">
        <tr>
            <th style="text-align: initial; border: 2px solid black; border-collapse: collapse; ">Date</th>
            <th style="text-align: initial; border: 2px solid black; border-collapse: collapse; ">Description</th>
            <th style="text-align: initial; border: 2px solid black; border-collapse: collapse; ">Amount</th>
        </tr>
        @if (Model != null || Model.Count > 0)
        {
            foreach (var item in Model)
            {
                <tr style="border: 2px solid black">
                    <td style="width: 20px; text-align: start; background-color: white; border: 2px solid black">@item.PaymentDate</td>
                    <td style="width: 300px; text-align: start; background-color: white; border: 2px solid black">@item.Note</td>
                    <td style="width: 20px; text-align: start; background-color: white; border: 2px solid black">@item.Amount</td>
                </tr>
            }
        }
    </table>
    <div class="row">
        <div class="col-md-5">
        </div>
        <div class="col-md-3">
            <p style="text-align:right;">
                Flat Fees : <b>$@total</b>
            </p>
        </div>
    </div>
    <br />
    <table>
        <tr>
            <td style=" width: 400px; border: 3px solid black; background-color: white">
                <strong style="float:left;"> Terms & Conditions:</strong>
                <p style="text-align:justify">
                    &nbsp , understand that there may be outstanding bills for health care providers, or other liens, not
                    specifically referenced above, including but not limited to medical bills, healthcare provider liens,
                    insurance liens, and Medicare/ Medicaid liens, but said bills and liens are either unknown to or
                    have otherwise not been protected by Law Office of Lydia Charles, LLC.
                    After disbursement, I agree to pay said bills and further agree these are not Law Office of Lydia
                    Charles, LLC., responsibility. I further agree to defend, indemnify and hold harmless Law Office
                    of Lydia Charles, LLC ,for any action, whatsoever, to recover or enforce any lien or bill arising
                    from the incident giving rise to the instant claim.
                    The above is acknowledged and approved. I authorize Law Office of Lydia Charles, LLC, to
                    disburse the proceeds of settlement in accordance with the statement set forth above.
                </p>
            </td>
            <td style="margin-left: 10px; width: 200px; border: 2px solid black; background-color: white; padding-right:10px;">
                <p>
                    Flat Fee Sub-Total:&nbsp; $@total
                </p>
                <p style="margin-left: 50px ">
                    <strong>sub-Total</strong>&nbsp; $@total
                </p>
                <br />
                <br />
                <p style="margin-left: 60px">
                    <strong>Total</strong>:&nbsp;&nbsp;&nbsp;  $@total
                </p>
                <p style="margin-left:25px">
                    <strong>Amount Paid</strong>:&nbsp;&nbsp;&nbsp;  $@total
                </p>
                <br />
                <br />
                <br />
            </td>
        </tr>
    </table>
</body>
</html>
