@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <link href="~/css/Error.css" rel="stylesheet" />
</head>
<body>
    <div class="lock"></div>
    <div class="row">
        <p>You Dont Have Access To This Page.Go Back To Continue Browsing</p>
    </div>
    <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Go Back</a>
    
</body>
</html>