@*
@{
    ViewData["Title"] = "ReceiptView";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}*@
@model string
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Receipt View</title>
</head>
<body>
    <div>
        <a href="@Model" target="_blank">Open Receipt</a>
    </div>
</body>
</html>
