<style>
    body {
        margin-top: 20px;
    }
</style>

<table class="body-wrap" style="width: 100%;">
    <tbody>
        <tr>
            <td></td>
            <td style="display: block !important;margin: 0 auto;">
                <div style="box-sizing: border-box; max-width: 600px;margin: 0 auto;padding: 20px;">
                    <table>
                        <tbody>
                            <tr>
                                <td style="padding: 30px;border: 3px solid #67a8e4;border-radius: 7px;">
                                    <meta>
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;font-size: 14px;padding: 0 0 20px;">
                                                    Please confirm your email address by clicking the link below.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;font-size: 14px;padding: 0 0 20px;">
                                                    We may need to send you critical information about our service and it is important that we have an accurate email address.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 0 0 20px;">
                                                    <a href="#" class="btn-primary" itemprop="url" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;font-size: 14px; color: #FFF; text-decoration: none; line-height: 2em; font-weight: bold;cursor: pointer; display: inline-block; border-radius: 5px;background-color: #f06292;border-color: #f06292; border-style: solid; border-width: 8px 16px;">
                                                        Confirm
                                                        Email Address
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="content-block" style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;font-size: 14px;padding: 0 0 20px;">
                                                    <b>Muhammad Usman</b>
                                                    <p>Support Team</p>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td style="text-align: center;font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;font-size: 14px;">
                                                    &copy; Absol Case
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
    </tbody>
</table>