@model AbsolCase.Models.ContactGroup
@{
    ViewBag.Title = "AddRole";
    Layout = "~/Views/Shared/_SPLayout.cshtml";
}
@if (TempData["response"] != null)
{
    <div class="alert-danger" id="msgalert">
        @TempData["response"].ToString()
    </div>
}
<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Add Contact Group</h4>
            @*<p class="card-description">
                    Basic form layout
                </p>*@
            <form asp-action="UpdateContactGroup" method="post">
                <input type="hidden" value="@Model.Id" />
                <div class="form-group">
                    <label for="exampleInputUsername1">Contact Group <span style="font-weight:bolder;font-size:18px;color:red">*</span></label>
                    @Html.EditorFor(model => model.ContactGroupName, new { htmlAttributes = new { @class = "form-control", placeholder = "Contact Group" } })
                    @Html.ValidationMessageFor(model => model.ContactGroupName, "", new { @class = "text-danger db" })
                </div>
                <input type="submit" value="Update" class="btn btn-dark fr" />
                @*<button class="btn btn-light">Cancel</button>*@
            </form>
        </div>
    </div>
</div>
<script>
    setTimeout(function () {
        $("#msgalert").hide();
    }, 3500);
</script>